* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  }
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .box {
    background-color: #f1f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
  }
  
  .captcha {
    
    /* font-style: italic;
    font-weight: bold; */
    font-size: 2em;
    padding: 3px;
    border-radius: 5px;
    text-decoration: line-through;
    color: #fff;
    background-color: #0c0c0c;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .restart a {
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
  }
  
  .errmsg {
    color: black;
    padding: 5px;
    transition: 0.5s ease;
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
  }
  
  input {
    width: 100%;
    margin-bottom: 3px;
    color: white;
    background: black;
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
  } 
  
  .change {
    color: white;
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
  }